extends ../pug/_base.pug

block title 
    title Faction List

block style 
    link(rel="stylesheet" type="text/css" href="styles/factionList.min.css"+v)

block script
    script(src="scripts/factionList.min.js"+v)

block content
    label(for="sort-by") Sort Factions by:
    select#sort-by(name="sort-by")
        option Alphabetical
        option Era
        option Importance
    #list-wrapper
